.login_app{
    width:100vw;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:0;
    @media (max-width:$desktop-breakpoint){
        height:initial;
    }
}

.container--app{
    background-color: white;
    margin-top:200px;
    height:720px;
    box-shadow: 0.5px 0.5px 12px 5px grey;
    @media (max-width:$desktop-breakpoint){
        height:initial;
        flex-direction: column;
        margin-top:100px;
        margin-bottom:200px;
    }
}

