.error--field{
    width:90%;
    padding:3px 0px 3px 0px;
    border-bottom:1px solid red;
}

.error--login{
    padding:10px 0px 10px 0px;
    border:2px solid red;
    width:100vw;
    margin-top: 60px;
}