.login_app{
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: center;

    // background-color: rgba(155, 89, 182, 1);
}

.container--app{
    background-color: white;
    height:700px;
    box-shadow: 0.5px 0.5px 12px 5px grey;
}

