.register-link{
    width:90%;
    border-top: 2px groove white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-text--register-link{
    color:$text-color;
}

.register-link__text{
    color:$text-color;

    margin-bottom:30px;
}

.register-link__link{
    color:white;
    font-weight: 600;
    text-decoration: none;
    font-style:italic;
}

.submit_button--align{
    align-self: center;
    margin-top:5px;
    margin-bottom:20px;
}

